<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Welcome Email</title>
  <style type="text/css">

   body, p, div {
        font-family: arial;
        font-size: 14px;
      }
      body {
        color: #000000;
      }
      body a {
        color: #1188E6;
        text-decoration: none;
      }

.container {
     background-color: #ffff66
    width: 400px;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
    display: flex;
    flex-direction: column;

      }

  span {
    margin: 10px;
  }


</style>

</head>
<body>

<div class="container" style="background-color: #036ffc; color: #FFFFFF">
<h1 style="color: #FFFF66">Rastreio App</h1>
<br><br>
<div><span>Olá, {{name}}</span>
<br><br>
<span >O objeto <strong> {{description}} ({{code}})</strong> foi atualizado!<br>
   Local: {{locality}}<br>
   Status: {{status}}<br>
</span></div>

<h4>Equipe |<strong> RastreioApp</strong></h4>

</div>
</body>
</html>
